Repository synthesizer-project/synthesizer, pull requests merged in 2023-12, with the labels that each got.

#475 Convert a `Grid` to an `Sed`
  docs/source/grids/grids_example.ipynb
  src/synthesizer/grid.py
Labels: grid, Spectra/SED

#474 Improves calculate Q naming and moves it to an SED method
  docs/source/sed.ipynb
  src/synthesizer/sed.py
Labels: Spectra/SED

#466 Added dust emission to PacMan model
  docs/source/blackholes/emission_models.ipynb
  docs/source/blackholes/parametric_blackholes.ipynb
  docs/source/blackholes/particle_blackholes.ipynb
  docs/source/misc/dust_emission.ipynb
  docs/source/parametric/generate_active_galaxy.ipynb
  docs/source/parametric/generate_sed.ipynb
  src/synthesizer/blackholes.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/dust/emission.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Dust, Black Holes, Stars

#476 Enabling per particle escape fractions
  src/synthesizer/extensions/integrated_spectra.c
  src/synthesizer/extensions/particle_spectra.c
  src/synthesizer/extensions/sfzh.c
  src/synthesizer/extensions/weights.h
  src/synthesizer/particle/stars.py
Labels: particle, Spectra/SED, Stars

#471 Add the ability to plot luminosity or flux rather than density
  docs/source/parametric/generate_sed.ipynb
  src/synthesizer/components/stellar.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Plotting

#478 Fixed the limits on plots in cosmo_examples.ipynb
  docs/source/cosmo/cosmo_example.ipynb
Labels: documentation
