Repository synthesizer-project/synthesizer, pull requests merged in 2023-08, with the labels that each got.

#250 Introduced for l in lines: syntax
  examples/parametric/generate_lines.py
  synthesizer/line.py
Labels: Lines

#265 Derived wavelength resolution fix
  synthesizer/filters.py
Labels: Filters

#249 Los
  broken_examples/cosmo/camels_survey.py
  docs/source/cosmo/cosmo_example.ipynb
  docs/source/cosmo/survey_example.ipynb
  docs/source/parametric/generate_observed_sed.ipynb
  docs/source/parametric/generate_sed.ipynb
  examples/cosmo/camels.py
  examples/parametric/generate_lines.py
  examples/parametric/generate_observed_sed.py
  examples/parametric/generate_sed.py
  examples/particle/create_sampled_sed.py
  examples/particle/get_los_attenutation.py
  examples/photometry.py
  setup.py
  synthesizer/base_galaxy.py
  synthesizer/extensions/los.c
  synthesizer/parametric/galaxy.py
  synthesizer/particle/galaxy.py
  synthesizer/particle/gas.py
  synthesizer/particle/particles.py
  synthesizer/particle/stars.py
  synthesizer/survey.py
Labels: Spectra/SED, Dust

#256 Add some basic Particle blackhole functionality
  docs/source/blackholes/blackholes.ipynb
  docs/source/cosmo/cosmo_example.ipynb
  docs/source/cosmo/survey_example.ipynb
  docs/source/grids/explore_grid.ipynb
  docs/source/grids/plot_spectra_age.ipynb
  docs/source/parametric/generate_composite_galaxy.ipynb
  docs/source/parametric/generate_sed.ipynb
  examples/cosmo/camels.py
  examples/grids/plot_spectra_age.py
  examples/imaging/image_addition.py
  examples/parametric/create_image.py
  examples/parametric/generate_composite_galaxy.py
  examples/parametric/generate_sed.py
  examples/particle/compare_parametric_particle.py
  examples/particle/create_sampled_sed.py
  examples/particle/create_survey_imgs.py
  examples/particle/create_survey_photometry.py
  generate_grids/agn/emission_models.py
  generate_grids/cloudy/make_cloudy_input_grid.py
  other_examples/plot_equivalent_width.py
  other_examples/plot_spectra_age.py
  synthesizer/agn.py
  synthesizer/base_galaxy.py
  synthesizer/cloudy.py
  synthesizer/grid.py
  synthesizer/particle/blackholes.py
  synthesizer/particle/galaxy.py
  synthesizer/particle/stars.py
  synthesizer/survey.py
  synthesizer/units.py
Labels: particle, Black Holes

#268 Remove other examples
  examples/parametric/plot_equivalent_width.py
  examples/plot_line_ratios.py
  examples/plot_quiescent_colours.py
  examples/plot_spectra_age.py
  other_examples/line_ratios.py
  synthesizer/base_galaxy.py
  synthesizer/parametric/galaxy.py
  synthesizer/particle/galaxy.py
  synthesizer/sed.py
Labels: bug, examples, Spectra/SED
