Repository synthesizer-project/synthesizer, pull requests merged in 2023-11, with the labels that each got.

#368 Removing the broken examples
  broken_examples/cloudy/analyse_lines.py
  broken_examples/cloudy/analyse_spectra.py
  broken_examples/cloudy/calculate_Q.py
  broken_examples/cloudy/run_cloudy.py
  broken_examples/cosmo/camels_survey.py
  broken_examples/cosmo/flares.py
  broken_examples/grids/blackbody.py
  broken_examples/grids/plot_log10Q.py
  broken_examples/grids/yggdrasil_example.py
  broken_examples/misc/balmer_break.py
Labels: examples

#367 Fixed SFZH plot alignment
  synthesizer/parametric/sfzh.py
Labels: parametric

#370 Improves the performance of spectra creation
  setup.py
  synthesizer/extensions/csed.c
  synthesizer/extensions/integrated_spectra.c
  synthesizer/extensions/particle_spectra.c
  synthesizer/particle/galaxy.py
Labels: Spectra/SED

#374 Fixed typo in sed.concat
  docs/source/blackholes/grids.ipynb
  docs/source/sed.ipynb
  synthesizer/filters.py
  synthesizer/sed.py
Labels: Spectra/SED

#372 allowed Sed objects to be scaled by overloading __mul__ and __rmul__
  docs/source/sed.ipynb
  synthesizer/sed.py
Labels: enhancement, Spectra/SED

#376 Updated, enhanced and cleaned imaging module
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  examples/particle/plot_create_survey_imgs.py
  examples/particle/plot_create_survey_photometry.py
  setup.py
  synthesizer/imaging/extensions/ckernel_functions.c
  synthesizer/imaging/extensions/ckernel_functions.h
  synthesizer/imaging/extensions/image.c
  synthesizer/imaging/extensions/spectral_cube.c
  synthesizer/imaging/extensions/sph_kernel_calc.c
  synthesizer/imaging/images.py
  synthesizer/imaging/observation.py
  synthesizer/imaging/scene.py
  synthesizer/imaging/spectral_cubes.py
  synthesizer/load_data.py
  synthesizer/particle/galaxy.py
  synthesizer/units.py
  tests/data/camels_snap.hdf5
  tests/data/create_camels_small_snap.py
Labels: documentation, enhancement, Implementation, Imaging

#379 Raise a more meaningful error when the svo filter service is down
  synthesizer/exceptions.py
  synthesizer/filters.py
Labels: Filters

#385 Instead of caching filters we provide write/load methods
  docs/source/filters.ipynb
  src/synthesizer/filters.py
Labels: Filters

#393 Add parametric models
  src/synthesizer/parametric/sfzh.py
Labels: parametric

#387 Moved `apply_attenuation` method to the Sed and cleaned
  docs/source/sed.ipynb
  src/synthesizer/exceptions.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Dust

#398 Calzetti fix
  requirements.txt
  src/synthesizer/dust/attenuation.py
Labels: Dust

#401 Contribution style updates
  docs/CONTRIBUTING.md
Labels: documentation

#394 Multi-component updates: Stellar
  docs/source/cosmo/cosmo_example.ipynb
  docs/source/filters.ipynb
  docs/source/galaxies/galaxy_obj.ipynb
  docs/source/grids/grids_example.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/parametric/generate_composite_galaxy.ipynb
  docs/source/parametric/generate_lines.ipynb
  docs/source/parametric/generate_sed.ipynb
  docs/source/parametric/make_sfzh.ipynb
  docs/source/parametric/make_stars.ipynb
  docs/source/parametric/parametric.rst
  examples/cosmo/plot_camels.py
  examples/cosmo/plot_sc-sam.py
  examples/general/plot_photometry.py
  examples/imaging/image_addition.py
  examples/parametric/generate_lines.py
  examples/parametric/plot_composite_galaxy.py
  examples/parametric/plot_create_image.py
  examples/parametric/plot_equivalent_width.py
  examples/parametric/plot_make_sfzh.py
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_sed.py
  examples/particle/plot_compare_parametric_particle.py
  examples/particle/plot_create_sampled_sed.py
  examples/particle/plot_get_los_attenutation.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/__init__.py
  src/synthesizer/components/stellar.py
  src/synthesizer/galaxy.py
  src/synthesizer/load_data/load_scsam.py
  src/synthesizer/parametric/__init__.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/parametric/metal_dist.py
  src/synthesizer/parametric/sf_hist.py
  src/synthesizer/parametric/sfzh.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/stars.py
  src/synthesizer/survey.py
  src/synthesizer/units.py
Labels: enhancement, parametric, particle, Spectra/SED

#414 Fixed and improved the art
  src/synthesizer/art.py
  src/synthesizer/parametric/galaxy.py
Labels: enhancement

#413 Improvements to spectra plotting methods and galaxy instantiation fix
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_sed.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/stellar.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/sed.py
Labels: enhancement, Spectra/SED, Plotting

#422 Fixed the bulge in composite galaxy docs
  docs/source/parametric/generate_composite_galaxy.ipynb
Labels: documentation

#421 galaxies should have a get observed spectra method
  examples/parametric/plot_observed_sed.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/exceptions.py
Labels: Spectra/SED, Galaxy

#426 Warning/Error for particles outside grid
  src/synthesizer/exceptions.py
  src/synthesizer/load_data/load_scsam.py
  src/synthesizer/particle/stars.py
Labels: particle, Spectra/SED

#431 Adds missing case for combining two 1D spectra
  src/synthesizer/sed.py
Labels: bug, Spectra/SED

#437 Not including particles on the grid edges in grid checks
  src/synthesizer/particle/stars.py
Labels: grid, particle

#436 Fixed the particle imaging docs.
  src/synthesizer/imaging/scene.py
  src/synthesizer/load_data/load_camels.py
  src/synthesizer/load_data/load_flares.py
  src/synthesizer/load_data/load_scsam.py
  src/synthesizer/load_data/load_simba.py
  src/synthesizer/particle/galaxy.py
Labels: documentation, Imaging, Units

#451 Remove dust_attenutation dependency and set astropy version
  pyproject.toml
Labels: Installation

#438 Clean up the `utils` and plotting modules
  docs/source/grids/grids_example.ipynb
  docs/source/parametric/generate_sed.ipynb
  examples/general/plot_photometry.py
  examples/grids/plot_log10Q.py
  src/synthesizer/conversions.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/stars.py
  src/synthesizer/plots.py
  src/synthesizer/plt.py
  src/synthesizer/sed.py
  src/synthesizer/survey.py
  src/synthesizer/utils.py
Labels: documentation, enhancement

#448 Improve the out of grid bounds error
  src/synthesizer/particle/stars.py
Labels: enhancement, grid

#452 Removing astropy version pinning
  pyproject.toml
Labels: bug, Clean up

#458 Fix example headers and remove failing example
  examples/particle/plot_compare_grid_assignment.py
  examples/particle/plot_generate_coordinates.py
  examples/particle/plot_single_star_test.py
Labels: documentation

#462 Removing __slots__ to fix `TypeError: multiple bases have instance lay-out conflict`
  src/synthesizer/components/stellar.py
  src/synthesizer/imaging/images.py
  src/synthesizer/imaging/scene.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
Labels: bug, Implementation

#449 Reordered galaxy factory keyword arguments for clarity
  src/synthesizer/galaxy.py
Labels: Galaxy
