Repository synthesizer-project/synthesizer, pull requests merged in 2023-09, with the labels that each got.

#257 Generate blackhole grids
  docs/source/blackholes/explore_blackholes.ipynb
  docs/source/blackholes/grids.ipynb
  generate_grids/blackholes/create_cloudy_input_grid.py
  generate_grids/blackholes/create_synthesizer_grid.py
  generate_grids/blackholes/emission_models.py
  generate_grids/blackholes/linelist.dat
  generate_grids/blackholes/params/blackholes_cloudy_c17.03_log10TBB.yaml
  generate_grids/blackholes/params/blackholes_cloudy_c17.03_log10TBB_Z_aox_U_nH.yaml
  generate_grids/blackholes/params/blackholes_cloudy_c17.03_log10TBB_log10Z.yaml
  generate_grids/blackholes/utils.py
  synthesizer/cloudy.py
  tests/test_grid/test_grid_blackholes.hdf5
Labels: grid, Black Holes

#319 Implemented a Galaxy factory and added docs
  docs/source/blackholes/explore_blackholes.ipynb
  docs/source/galaxies/galaxies.rst
  docs/source/galaxies/galaxy_obj.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/index.rst
  synthesizer/__init__.py
  synthesizer/galaxy.py
  synthesizer/parametric/__init__.py
  synthesizer/parametric/galaxy.py
  synthesizer/particle/__init__.py
  synthesizer/particle/galaxy.py
Labels: documentation, Galaxy

#322 Better handling of grid file extension
  synthesizer/grid.py
Labels: grid
