Repository synthesizer-project/synthesizer, pull requests merged in 2024-03, with the labels that each got.

#513 Introduced a data downloading tool
  .github/workflows/publish_docs.yml
  .github/workflows/python-app.yml
  pyproject.toml
  src/synthesizer/download_data.py
  tests/get_test_grid.sh
Labels: Data

#540 Adds the ability to truncate a grid betwen wavelength values.
  docs/source/grids/grids_example.ipynb
  src/synthesizer/filters.py
  src/synthesizer/grid.py
Labels: grid

#537 Implement apertures
  examples/cosmo/test_aperture_mask.py
  examples/cosmo/test_parametric_young_stars.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/load_data/load_camels.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
  src/synthesizer/units.py
  tests/data/camels_subhalo.hdf5
  tests/data/create_camels_small_snap.py
Labels: Galaxy, Components

#543 Remove depracated script from docs workflow
  .github/workflows/publish_docs.yml
Labels: bug, documentation

#551 Fixing emergent spectra issue #550
  src/synthesizer/components/stellar.py
Labels: bug, parametric, Spectra/SED

#546 Minor updates to lines
  docs/source/abundances.ipynb
  docs/source/lines.ipynb
  docs/source/parametric/generate_lines.ipynb
  examples/grids/plot_lines.py
  pyproject.toml
  src/synthesizer/abundances/__init__.py
  src/synthesizer/abundances/abundance_patterns.py
  src/synthesizer/abundances/abundance_scalings.py
  src/synthesizer/abundances/depletion_models.py
  src/synthesizer/abundances/elements.py
  src/synthesizer/abundances/reference_abundance_patterns.py
  src/synthesizer/abundances/solar_abundance_patterns.py
  src/synthesizer/line.py
  src/synthesizer/units.py
Labels: Lines

#558 Fix unit conversion during `PhotometryCollection` intialisation
  src/synthesizer/photometry.py
Labels: bug, Photometry

#554 Cleaning up our dependencies
  .github/workflows/publish_docs.yml
  .github/workflows/python-app.yml
  README.md
  docs/CONTRIBUTING.md
  docs/requirements.txt
  pyproject.toml
Labels: dependencies, Clean up

#545 Test multiple python versions
  .github/workflows/python-app.yml
  src/synthesizer/particle/blackholes.py
Labels: Workflows
