Repository synthesizer-project/synthesizer, pull requests merged in 2024-01, with the labels that each got.

#482 Some clean up and consistency improvements to Blackholes/BlackHole
  docs/source/blackholes/blackholes.rst
  docs/source/blackholes/emission_models.ipynb
  docs/source/blackholes/parametric_blackholes.ipynb
  docs/source/blackholes/particle_blackholes.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/parametric/generate_active_galaxy.ipynb
  docs/source/parametric/generate_composite_galaxy.ipynb
  examples/blackholes/plot_single_bh_test.py
  examples/parametric/plot_create_image.py
  src/synthesizer/abundances.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/blackhole_emission_models.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/dust/emission.py
  src/synthesizer/exceptions.py
  src/synthesizer/extensions/particle_spectra.c
  src/synthesizer/extensions/weights.h
  src/synthesizer/grid.py
  src/synthesizer/parametric/__init__.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/parametric/morphology.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/stars.py
  src/synthesizer/sed.py
  src/synthesizer/units.py
  src/synthesizer/utils.py
Labels: Spectra/SED, Black Holes

#489 Introduces a method for combining component spectra on a `Galaxy`
  docs/source/parametric/generate_active_galaxy.ipynb
  src/synthesizer/base_galaxy.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Galaxy, Components

#492 Introduced method to integrate particle spectra
  examples/particle/plot_los_spectra.py
  src/synthesizer/particle/galaxy.py
Labels: particle, Spectra/SED, Galaxy

#498 Fixing `get_spectra_dust`
  src/synthesizer/base_galaxy.py
Labels: Spectra/SED, Dust

#499 Introduces a better name for photometry
  docs/source/cosmo/cosmo_example.ipynb
  docs/source/parametric/generate_sed.ipynb
  docs/source/sed.ipynb
  examples/general/plot_quiescent_colours.py
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_sed.py
  src/synthesizer/photometry.py
  src/synthesizer/sed.py
  src/synthesizer/survey.py
  src/synthesizer/units.py
Labels: Photometry, Code Style, Clean up

#506 Allow `FilterCollection`s to be made from existing `Filter`s
  docs/source/filters.ipynb
  src/synthesizer/filters.py
Labels: Filters

#502 Fix FLARES load
  docs/source/imaging/particle_imaging.ipynb
  examples/cosmo/test_los_spectra.py
  examples/particle/plot_los_spectra.py
  src/synthesizer/extensions/los.c
  src/synthesizer/kernel_functions.py
  src/synthesizer/load_data/load_camels.py
  src/synthesizer/load_data/load_flares.py
  src/synthesizer/load_data/load_simba.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/stars.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Dust, Stars

#503 Significant tidy up of the abundances module and notebook
  .github/workflows/python-app.yml
  docs/source/abundances.ipynb
  src/synthesizer/abundances.py
  src/synthesizer/abundances/__init__.py
  src/synthesizer/abundances/abundance_patterns.py
  src/synthesizer/abundances/abundance_scalings.py
  src/synthesizer/abundances/depletion_models.py
  src/synthesizer/abundances/solar_abundance_patterns.py
Labels: Cloudy, Abundances

#510 Q got reintroduced for some reason, it has been nuked again
  src/synthesizer/grid.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/photoionisation/cloudy17.py
Labels: bug
