Repository synthesizer-project/synthesizer, pull requests merged in 2024-02, with the labels that each got.

#526 Fix photometry units and intialisation
  src/synthesizer/photometry.py
  src/synthesizer/sed.py
  src/synthesizer/units.py
Labels: Photometry

#528 Handling z=0 in get_fnu
  src/synthesizer/sed.py
Labels: Spectra/SED

#520 Introduce a grid animation method
  src/synthesizer/grid.py
Labels: enhancement, grid, Visualisation

#522 Improved automatic `FilterCollection.lam` calculation
  docs/source/filters.ipynb
  src/synthesizer/filters.py
Labels: enhancement, Filters

#524 Introduced collective photometry methods on `Galaxy` and components
  docs/source/cosmo/cosmo_example.ipynb
  docs/source/galaxies/galaxy_obj.ipynb
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/particle/particles.py
Labels: enhancement, Photometry, Galaxy

#527 Fixed powers and whitespace in spectra labels
  src/synthesizer/photometry.py
  src/synthesizer/sed.py
Labels: Spectra/SED, Plotting

#529 Fixed agn masking in `_prepare_sed_args`
  src/synthesizer/particle/blackholes.py
  src/synthesizer/utils.py
Labels: bug, Black Holes

#516 Complete rewrite of the imaging module
  .github/workflows/python-app.yml
  docs/source/imaging/imaging.rst
  docs/source/imaging/parametric_data_cube.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_data_cube.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/imaging/property_maps.ipynb
  docs/source/parametric/generate_active_galaxy.ipynb
  docs/source/parametric/generate_composite_galaxy.ipynb
  examples/parametric/plot_create_image.py
  src/synthesizer/imaging/__init__.py
  src/synthesizer/imaging/extensions/image.c
  src/synthesizer/imaging/extensions/spectral_cube.c
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/imaging/images.py
  src/synthesizer/imaging/scene.py
  src/synthesizer/imaging/spectral_cube.py
  src/synthesizer/imaging/spectral_cubes.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/parametric/morphology.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/particles.py
  src/synthesizer/sed.py
Labels: enhancement, Imaging

#521 Adds a method to interpolate a Grid onto a `FilterCollection` wavelength array
  docs/source/grids/grids_example.ipynb
  src/synthesizer/filters.py
  src/synthesizer/grid.py
Labels: enhancement, grid, Filters

#517 script to load in BlueTides galaxies (currently only stars)
  src/synthesizer/load_data/load_bluetides.py
Labels: Data
