Repository synthesizer-project/synthesizer, pull requests merged in 2024-04, with the labels that each got.

#565 Giving grid.py some TLC
  src/synthesizer/components/stellar.py
  src/synthesizer/dust/emission.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/utils.py
Labels: grid, Clean up

#577 Load FLARES now loads stellar smoothing lengths
  src/synthesizer/load_data/load_flares.py
Labels: Data

#583 Added a function to visualise a spectra as a rainbow
  docs/source/parametric/generate_sed.ipynb
  docs/source/sed.ipynb
  src/synthesizer/sed.py
  src/synthesizer/utils.py
Labels: Spectra/SED, Plotting

#580 add nebular continuum method on stellar component
  src/synthesizer/components/stellar.py
Labels: Spectra/SED

#586 Introduced a warnings module with a deprecation function and decorator
  src/synthesizer/warnings.py
Labels: Implementation

#592 Fix dust bugs
  src/synthesizer/components/stellar.py
  src/synthesizer/dust/attenuation.py
Labels: Dust

#595 Fixing docs build warnings and errors
  .github/workflows/python-app.yml
  docs/source/blackholes/blackholes.rst
  docs/source/conf.py
  docs/source/cosmo/cosmo.rst
  docs/source/grids/grids.rst
  docs/source/imaging/parametric_imaging.ipynb
  examples/blackholes/plot_single_bh_test.py
  examples/grids/line_cont.py
  examples/particle/plot_single_star_test.py
  pyproject.toml
  src/synthesizer/abundances/depletion_models.py
  src/synthesizer/load_data/load_bluetides.py
Labels: bug, documentation

#547 Added an interactive grid explorer
  examples/grids/grid_explorer.ipynb
Labels: examples

#596 Removed outdated tests/examples
  tests/grid/LyA_testing.py
  tests/grid/spectra_cloudy_comparison.py
Labels: Clean up
