Repository synthesizer-project/synthesizer, pull requests merged in 2024-11, with the labels that each got.

#622 Add dense basis method
  examples/parametric/plot_dense_basis.py
  pyproject.toml
  src/synthesizer/parametric/sf_hist.py
Labels: parametric, Stars, Future

#774 Quarantining dense_basis import to avoid print
  src/synthesizer/parametric/sf_hist.py
Labels: Clean up

#786 Updating workflow versioning across the board
  .github/workflows/publish_docs.yml
  .github/workflows/python-app.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: Workflows

#785 Giving filters.py some TLC
  src/synthesizer/instruments/filters.py
Labels: Filters, Clean up

#787 Some fixes for image creation with EmissionModels
  docs/source/imaging/particle_imaging.ipynb
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
Labels: Imaging

#755 Cleaning up Morphology classes and streamlining the Sersic implementation
  examples/parametric/plot_morphology.py
  src/synthesizer/parametric/morphology.py
Labels: Morphology

#789 Fixing lyman alpha escape fraction application
  docs/source/emission_models/modify_models.ipynb
  docs/source/emission_models/premade_models/stellar_models.ipynb
  examples/general/plot_spectra.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/component.py
  src/synthesizer/emission_models/__init__.py
  src/synthesizer/emission_models/agn/unified_agn.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emission_models/stellar/__init__.py
  src/synthesizer/emission_models/stellar/models.py
  src/synthesizer/emission_models/stellar/pacman_model.py
  src/synthesizer/grid.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
Labels: bug, Spectra/SED, EmissionModels
