Repository synthesizer-project/synthesizer, pull requests merged in 2024-12, with the labels that each got.

#796 Giving the docs some TLC
  .github/workflows/publish_docs.yml
  docs/source/components/gas.ipynb
  src/synthesizer/download_data.py
  src/synthesizer/grid.py
Labels: documentation, Data

#797 Fixing `limit_to` argument in imaging methods
  docs/source/imaging/particle_imaging.ipynb
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
Labels: bug, Imaging

#800 BUGFIX: Fixing the accepts decorator for list/tuple args
  src/synthesizer/units.py
Labels: bug, Units

#763 Introducing the `Pipeline` replacement
  docs/source/img/Pipeline_outfile.jpeg
  docs/source/index.rst
  docs/source/instrumentation/instrument_example.ipynb
  docs/source/instrumentation/instruments.rst
  docs/source/pipelines/pipeline_example.ipynb
  pyproject.toml
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/exceptions.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/instruments/filters.py
  src/synthesizer/instruments/instrument.py
  src/synthesizer/instruments/instrument_collection.py
  src/synthesizer/particle/particles.py
  src/synthesizer/photometry.py
  src/synthesizer/pipeline/__init__.py
  src/synthesizer/pipeline/pipeline.py
  src/synthesizer/pipeline/pipeline_io.py
  src/synthesizer/pipeline/pipeline_utils.py
  src/synthesizer/sed.py
Labels: Survey, Instruments

#803 Fix unit error in filters.py to address PR 802
  src/synthesizer/instruments/filters.py
Labels: bug, Filters
