Repository synthesizer-project/synthesizer, pull requests merged in 2024-06, with the labels that each got.

#643 Fix dtype issue for age calculations
  src/synthesizer/load_data/load_camels.py
  src/synthesizer/load_data/load_illustris.py
Labels: bug, Data

#644 Los orientation
  src/synthesizer/extensions/los.c
  src/synthesizer/kernel_functions.py
Labels: particle, Dust

#637 Implementing errors and malloc checks in C extensions, improving setup.py
  .github/workflows/python-app.yml
  docs/CONTRIBUTING.md
  docs/source/installation.rst
  setup.py
  src/synthesizer/extensions/integrated_line.c
  src/synthesizer/extensions/integrated_spectra.c
  src/synthesizer/extensions/los.c
  src/synthesizer/extensions/particle_line.c
  src/synthesizer/extensions/particle_spectra.c
  src/synthesizer/extensions/sfzh.c
  src/synthesizer/extensions/weights.c
  src/synthesizer/extensions/weights.h
  src/synthesizer/imaging/extensions/image.c
  src/synthesizer/imaging/extensions/spectral_cube.c
Labels: Extensions

#646 Adds a plotting script for interfacing with valgrind and profiling scripts
  profiling/plot_massif.py
  profiling/profile_mem_int_spectra.py
  profiling/profile_mem_part_spectra.py
  profiling/profile_time_int_spectra.py
  profiling/profile_time_part_spectra.py
Labels: Performance

#647 Some much needed clean up and abstraction in the extensions
  setup.py
  src/synthesizer/extensions/integrated_line.c
  src/synthesizer/extensions/integrated_spectra.c
  src/synthesizer/extensions/particle_line.c
  src/synthesizer/extensions/particle_spectra.c
  src/synthesizer/extensions/property_funcs.c
  src/synthesizer/extensions/property_funcs.h
  src/synthesizer/extensions/sfzh.c
  src/synthesizer/extensions/weights.c
  src/synthesizer/extensions/weights.h
  src/synthesizer/sed.py
Labels: Clean up, Extensions

#648 Introduced internal shared memory parallelism in spectra extensions with OpenMP
  .github/workflows/python-app.yml
  profiling/int_spectra_strong_scaling.py
  profiling/part_spectra_strong_scaling.py
  setup.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/extensions/integrated_line.c
  src/synthesizer/extensions/integrated_spectra.c
  src/synthesizer/extensions/openmp_check.c
  src/synthesizer/extensions/particle_line.c
  src/synthesizer/extensions/particle_spectra.c
  src/synthesizer/extensions/property_funcs.c
  src/synthesizer/extensions/property_funcs.h
  src/synthesizer/extensions/sfzh.c
  src/synthesizer/extensions/timers.c
  src/synthesizer/extensions/timers.h
  src/synthesizer/extensions/weights.c
  src/synthesizer/extensions/weights.h
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
  src/synthesizer/sed.py
  tests/test_openmp.py
Labels: enhancement, Extensions, Threading

#600 Documentation update
  docs/source/conf.py
  docs/source/creating_grids/abundances.ipynb
  docs/source/creating_grids/creating_grids.rst
  docs/source/grids/creating_grids.ipynb
  docs/source/grids/grids.rst
  docs/source/grids/grids_example.ipynb
  docs/source/img/synthesizer_banner.png
  docs/source/img/synthesizer_flowchart.png
  docs/source/img/synthesizer_logo.png
  docs/source/img/synthesizer_text.png
  docs/source/index.rst
  docs/source/synth.png
Labels: documentation

#651 Switching to "more accurate" interpolation in terms of log metallicity
  src/synthesizer/grid.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
Labels: grid, Spectra/SED

#544 Swap integration routines
  docs/source/sed.ipynb
  examples/parametric/plot_scale_by_luminosity.py
  setup.py
  src/synthesizer/extensions/integration.c
  src/synthesizer/filters.py
  src/synthesizer/integrate.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/sed.py
  tests/test_integration.py
Labels: Implementation

#574 Option to add enchancement of IR luminosity due to CMB heating
  docs/source/misc/dust_emission.ipynb
  src/synthesizer/dust/emission.py
Labels: Spectra/SED, Dust
