Repository synthesizer-project/synthesizer, pull requests merged in 2024-05, with the labels that each got.

#552 Remove LineRatios, add line_ratios sub-module, and fix id bug
  docs/source/abundances.ipynb
  docs/source/lines.ipynb
  docs/source/parametric/generate_lines.ipynb
  docs/source/sed.ipynb
  examples/grids/plot_lines.py
  examples/parametric/generate_lines.py
  src/synthesizer/conversions.py
  src/synthesizer/download_data.py
  src/synthesizer/line.py
  src/synthesizer/line_ratios.py
  src/synthesizer/units.py
Labels: grid, Lines

#599 Implement particle based line emission and misc fixes
  docs/source/lines.ipynb
  docs/source/parametric/generate_lines.ipynb
  setup.py
  src/synthesizer/components/stellar.py
  src/synthesizer/extensions/integrated_line.c
  src/synthesizer/extensions/particle_line.c
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/line_ratios.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/stars.py
Labels: Lines

#601 More intuitive multi-line `Line` objects (e.g. doublets).
  src/synthesizer/components/stellar.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/stars.py
Labels: Lines

#609 Unknown pleasures
  docs/source/imaging/parametric_imaging.ipynb
  src/synthesizer/imaging/image.py
Labels: Imaging, Fun

#604 Particle line fix
  src/synthesizer/components/stellar.py
  src/synthesizer/dust/attenuation.py
  src/synthesizer/particle/stars.py
Labels: particle, Lines

#611 added method on stars to generate attenuated spectra and produce summed Lines and LineCollections
  src/synthesizer/line.py
  src/synthesizer/particle/stars.py
Labels: Spectra/SED, Dust, Lines

#619 Raise warning when particle arrays empty and setting stars or gas to none
  src/synthesizer/particle/galaxy.py
Labels: particle, Code Style

#625 moved verbose to init, added more warnings
  docs/source/abundances.ipynb
  src/synthesizer/particle/galaxy.py
Labels: Warnings

#629 Simplifies `Filter.apply_filter` slightly
  src/synthesizer/filters.py
  src/synthesizer/parametric/stars.py
Labels: Filters

#631 Added method for loading TNG data
  src/synthesizer/load_data/load_illustris.py
Labels: Data

#634 Made sure Filters are loaded from a HDF5 file cleanly
  src/synthesizer/filters.py
Labels: bug, Filters

#636 Converted prints to warnings
  src/synthesizer/blackhole_emission_models.py
  src/synthesizer/components/stellar.py
  src/synthesizer/dust/emission.py
  src/synthesizer/filters.py
  src/synthesizer/grid.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/stars.py
  src/synthesizer/photoionisation/cloudy23.py
  src/synthesizer/sed.py
  src/synthesizer/units.py
  src/synthesizer/utils.py
  src/synthesizer/warnings.py
Labels: Warnings

#628 Script for reading eagle data into synthesizer
  src/synthesizer/exceptions.py
  src/synthesizer/load_data/load_eagle.py
  src/synthesizer/load_data/load_illustris.py
  src/synthesizer/particle/galaxy.py
Labels: enhancement

#635 Moved `intergrate_particle_spectra` to component level
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/particles.py
  src/synthesizer/sed.py
Labels: particle, Spectra/SED

#642 remove default IGM attenuation in get_fnu method
  src/synthesizer/sed.py
Labels: Spectra/SED
