Repository synthesizer-project/synthesizer, pull requests merged in 2024-10, with the labels that each got.

#737 Introduce a decorator for handling expected units
  docs/source/advanced/units.ipynb
  docs/source/components/blackholes.ipynb
  docs/source/components/gas.ipynb
  docs/source/components/stars.ipynb
  docs/source/emission_models/dust_emission.ipynb
  docs/source/filters/filters_example.ipynb
  docs/source/galaxy/line_of_sight.ipynb
  docs/source/galaxy/particle_parametric.ipynb
  docs/source/grids/grids_example.ipynb
  docs/source/imaging/parametric_data_cube.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/lines/galaxy_lines.ipynb
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  docs/source/notebook_examples/generate_composite_galaxy.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  docs/source/sed/sed_example.ipynb
  docs/source/spectra/blackholes.ipynb
  docs/source/spectra/galaxy.ipynb
  docs/source/spectra/stars.ipynb
  examples/general/plot_dustcurves.py
  examples/general/plot_filters.py
  examples/general/plot_photometry.py
  examples/imaging/plot_image_addition.py
  examples/parametric/plot_create_image.py
  examples/parametric/plot_delta_lambda.py
  examples/parametric/plot_equivalent_width.py
  examples/parametric/plot_generate_lines.py
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_sed.py
  examples/particle/plot_compare_grid_assignment.py
  examples/particle/plot_compare_parametric_particle.py
  examples/particle/plot_get_los_attenutation.py
  examples/particle/plot_los_spectra.py
  examples/particle/plot_rotated_galaxy.py
  examples/particle/plot_single_star_test.py
  src/synthesizer/ascii_table.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/conversions.py
  src/synthesizer/emission_models/attenuation/dust.py
  src/synthesizer/emission_models/dust/emission.py
  src/synthesizer/filters.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
  src/synthesizer/sed.py
  src/synthesizer/units.py
  src/synthesizer/utils/util_funcs.py
Labels: Units, Code Safety

#750 Integrating imaging into EmissionModel framework (+abstract base class)
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  docs/source/notebook_examples/generate_composite_galaxy.ipynb
  examples/parametric/plot_create_image.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/__init__.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/component.py
  src/synthesizer/components/stellar.py
  src/synthesizer/components/unified_agn.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/__init__.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/stars.py
Labels: Imaging, Clean up, EmissionModels

#752 Making `Grid.get_grid_point` safer
  docs/source/attenuation/igm.ipynb
  docs/source/grids/grids_example.ipynb
  docs/source/lines/grid_lines.ipynb
  docs/source/photometry/photometry_example.ipynb
  docs/source/sed/sed_example.ipynb
  examples/grids/plot_line_cont.py
  examples/grids/plot_lines.py
  examples/grids/plot_spectra.py
  examples/grids/plot_spectra_by_age.py
  src/synthesizer/grid.py
Labels: grid

#754 BUGFIX: Fixing line unpacking when no lines can be made
  src/synthesizer/components/blackhole.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
Labels: bug, Lines

#751 BUGFIX: Handling empty list attributes in `TableFormatter`
  src/synthesizer/utils/ascii_table.py
Labels: bug

#764 Fix for periodic boundary
  src/synthesizer/load_data/load_eagle.py
Labels: bug, Data

#761 Generalise ionising photon calculation to arrays
  docs/source/sed/sed_example.ipynb
  src/synthesizer/sed.py
Labels: Spectra/SED

#762 Scale BH spectra by the `bolometric_luminosity`
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/particle/blackholes.py
Labels: Spectra/SED, Lines, Black Holes
