Repository synthesizer-project/synthesizer, pull requests merged in 2024-08, with the labels that each got.

#696 Replace equivalent_width attribute with method
  src/synthesizer/line.py
Labels: Lines

#693 Updating lines structure in the grid to give correct continua
  docs/source/emission_models/dust_emission.ipynb
  docs/source/lines/galaxy_lines.ipynb
  examples/parametric/plot_generate_lines.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emission_models/stellar/models.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
Labels: grid, Lines

#701 Fixed deprecated arguments
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/stars.py
  src/synthesizer/warnings.py
Labels: bug, Warnings

#700 Update parametric SFH models
  docs/source/components/stars.ipynb
  docs/source/galaxy/line_of_sight.ipynb
  docs/source/galaxy/particle_parametric.ipynb
  docs/source/imaging/parametric_data_cube.ipynb
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/lines/galaxy_lines.ipynb
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  docs/source/notebook_examples/generate_composite_galaxy.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  docs/source/spectra/galaxy.ipynb
  docs/source/spectra/stars.ipynb
  examples/cosmo/plot_parametric_young_stars.py
  examples/general/plot_photometry.py
  examples/parametric/plot_compare_sfhs.py
  examples/parametric/plot_create_image.py
  examples/parametric/plot_delta_lambda.py
  examples/parametric/plot_equivalent_width.py
  examples/parametric/plot_generate_lines.py
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_scale_by_luminosity.py
  examples/parametric/plot_sed.py
  src/synthesizer/parametric/sf_hist.py
Labels: parametric, Stars

#703 Introduces threading in imaging module
  profiling/image_strong_scaling.py
  profiling/spectral_cube_strong_scaling.py
  setup.py
  src/synthesizer/imaging/extensions/image.c
  src/synthesizer/imaging/extensions/spectral_cube.c
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/imaging/spectral_cube.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/particles.py
  src/synthesizer/sed.py
Labels: Imaging, Threading

#705 Introducing an aperture method for an `Image`
  examples/imaging/plot_aperture_sum.py
  setup.py
  src/synthesizer/conversions.py
  src/synthesizer/imaging/extensions/circular_aperture.c
  src/synthesizer/imaging/image.py
Labels: Imaging

#704 Clearer photometry naming convention
  docs/source/imaging/parametric_imaging.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  docs/source/notebook_examples/generate_composite_galaxy.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  docs/source/photometry/photometry_example.ipynb
  docs/source/sed/sed_example.ipynb
  examples/cosmo/plot_cosmo_example.py
  examples/general/plot_quiescent_colours.py
  examples/parametric/plot_create_image.py
  examples/parametric/plot_observed_sed.py
  examples/parametric/plot_sed.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/parametric/galaxy.py
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/particles.py
  src/synthesizer/photometry.py
  src/synthesizer/sed.py
  src/synthesizer/units.py
Labels: documentation, Clean up

#706 Overlooked some places deprecation was needed and fixed typo in warning
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/particle/particles.py
Labels: bug, Clean up

#707 BUGFIX: `Stars.generate_particle_line` didn't handle entirely masked out arrays properly
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
Labels: bug, Lines

#709 BUGFIX: Cautionary tale in using ones in tests (aperture fix)
  src/synthesizer/imaging/extensions/circular_aperture.c
  src/synthesizer/imaging/image.py
Labels: bug, Imaging

#710 `lnu_to_fnu` was missing from the conversions module
  src/synthesizer/conversions.py
Labels: Conversions

#711 dust_to_metal_vijayan19 wouldn't necessarily update the dust masses
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/gas.py
Labels: bug, Dust

#712 BUGFIX: Fixes various bugs when using a template
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/grid.py
Labels: EmissionModels

#714 Making per particle spectra an emission model attribute not a method choice
  .github/workflows/python-app.yml
  docs/source/emission_models/combined_models.ipynb
  docs/source/emission_models/model_usage.ipynb
  docs/source/imaging/particle_data_cube.ipynb
  docs/source/imaging/particle_imaging.ipynb
  docs/source/lines/galaxy_lines.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  docs/source/spectra/blackholes.ipynb
  docs/source/spectra/stars.ipynb
  examples/blackholes/plot_single_bh_test.py
  examples/particle/plot_los_spectra.py
  profiling/image_strong_scaling.py
  profiling/spectral_cube_strong_scaling.py
  pyproject.toml
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/stellar.py
  src/synthesizer/components/unified_agn.py
  src/synthesizer/emission_models/agn/unified_agn.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emission_models/stellar/pacman_model.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
Labels: Spectra/SED, Lines, EmissionModels

#713 Ensuring Synthesizer behaves predictably for galaxy with empty components
  src/synthesizer/components/blackhole.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/imaging/image.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
Labels: particle

#715 BUGFIX: Better handling of operation errors, NaNs, templates and optical depth fix
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/grid.py
  src/synthesizer/sed.py
Labels: bug, Spectra/SED, EmissionModels
