Repository synthesizer-project/synthesizer, pull requests merged in 2025-04, with the labels that each got.

#899 Adding a handler to ensure the C extensions aren't handed garbage
  src/synthesizer/components/stellar.py
  src/synthesizer/emission_models/extractors/extractor.py
  src/synthesizer/emission_models/utils.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
  src/synthesizer/utils/util_funcs.py
  tests/test_utils.py
Labels: particle, Extensions, Extraction

#903 Adds a method for flattening axes
  docs/source/grids/grids_example.ipynb
  src/synthesizer/grid.py
Labels: grid

#905 Improvement to imaging performance
  docs/source/imaging/parametric_data_cube.ipynb
  docs/source/imaging/particle_data_cube.ipynb
  setup.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emissions/sed.py
  src/synthesizer/exceptions.py
  src/synthesizer/extensions/column_density.c
  src/synthesizer/extensions/octree.h
  src/synthesizer/imaging/extensions/image.c
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/imaging/image_generators.py
  src/synthesizer/imaging/spectral_cube.py
  src/synthesizer/photometry.py
Labels: Imaging

#907 Implemented front end for instrument specific spectroscopy
  docs/source/spectra/spectra.rst
  docs/source/spectra/spectroscopy.ipynb
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
  src/synthesizer/emissions/sed.py
Labels: enhancement, Spectra/SED, Galaxy

#887 Refactoring the Pipeline to limit the memory footprint
  conftest.py
  docs/source/pipelines/pipeline_example.ipynb
  pyproject.toml
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emissions/line.py
  src/synthesizer/emissions/sed.py
  src/synthesizer/exceptions.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/instruments/filters.py
  src/synthesizer/instruments/instrument.py
  src/synthesizer/instruments/instrument_collection.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
  src/synthesizer/photometry.py
  src/synthesizer/pipeline/pipeline.py
  src/synthesizer/pipeline/pipeline_utils.py
  src/synthesizer/utils/util_funcs.py
  tests/test_line.py
  tests/test_pipeline.py
Labels: Pipeline

#908 Implements a spectra stacking plot for an Sed
  conftest.py
  docs/source/spectra/galaxy.ipynb
  src/synthesizer/emissions/sed.py
  src/synthesizer/imaging/image_generators.py
Labels: Spectra/SED

#913 change to the dataclass format
  src/synthesizer/abundances/reference_abundance_patterns.py
Labels: Abundances

#910 Finally enabling angular units in image generation
  docs/source/imaging/particle_imaging.ipynb
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/component.py
  src/synthesizer/default_units.yml
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/imaging/base_imaging.py
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/imaging/image_generators.py
  src/synthesizer/imaging/spectral_cube.py
  src/synthesizer/instruments/instrument.py
  src/synthesizer/particle/particles.py
  src/synthesizer/units.py
Labels: Imaging

#915 BUGFIX: Fixing mask type for parametric stars
  src/synthesizer/parametric/stars.py
Labels: bug, parametric, Stars

#917 Introduced some generalised profiling tools
  profiling/image_strong_scaling.py
  profiling/int_spectra_strong_scaling.py
  profiling/los_surf_strong_scaling.py
  profiling/strong_scaling_images.py
  profiling/strong_scaling_int_spectra.py
  profiling/strong_scaling_los_col_den.py
  profiling/strong_scaling_part_spectra.py
  src/synthesizer/components/component.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/extractors/extractor.py
  src/synthesizer/emissions/line.py
  src/synthesizer/imaging/extensions/image.c
  src/synthesizer/imaging/image.py
  src/synthesizer/imaging/image_collection.py
  src/synthesizer/imaging/image_generators.py
  src/synthesizer/units.py
  src/synthesizer/utils/profiling_utils.py
  src/synthesizer/utils/util_funcs.py
Labels: Performance
