Repository synthesizer-project/synthesizer, pull requests merged in 2025-03, with the labels that each got.

#862 Using the new grid metadata to simplify extraction
  docs/source/notebook_examples/generate_active_galaxy.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  docs/source/spectra/blackholes.ipynb
  docs/source/spectra/galaxy.ipynb
  examples/cosmo/plot_parametric_young_stars.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/component.py
  src/synthesizer/downloader/_data_ids.yml
  src/synthesizer/emission_models/extractors/__init__.py
  src/synthesizer/emission_models/extractors/extractor.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emission_models/utils.py
  src/synthesizer/grid.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
Labels: grid, Spectra/SED, EmissionModels

#876 Added Grid.collapse method to handle dimensionality reduction
  docs/source/grids/grids.rst
  docs/source/grids/grids_example.ipynb
  src/synthesizer/grid.py
  src/synthesizer/load_data/load_eagle.py
Labels: grid

#874 Introducing a larger suite of tests for spectra generation
  conftest.py
  examples/particle/plot_single_star_test.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/extractors/extractor.py
  src/synthesizer/emission_models/stellar/models.py
  src/synthesizer/emission_models/utils.py
  src/synthesizer/exceptions.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
  tests/test_extractors.py
  tests/test_operations.py
  tests/test_spectra.py
Labels: Spectra/SED, EmissionModels, Tests

#879 Fixing escape fractions in premade stellar models
  conftest.py
  src/synthesizer/emission_models/stellar/models.py
  src/synthesizer/emission_models/transformers/escape_fraction.py
  tests/test_transformers.py
Labels: bug, Transformers

#881 Protection against grids without lines in an Extractor
  src/synthesizer/emission_models/extractors/extractor.py
Labels: bug, Extraction

#885 BUGFIX: Fixes `lam_lims` combination with C extensions
  src/synthesizer/grid.py
Labels: bug, grid

#880 Removes large row count plain text file
  .github/workflows/python-app.yml
  conftest.py
  tests/test_igm.py
  tests/test_sed.py
  tests/test_sed/lam.txt
  tests/test_sed/spec.txt
Labels: Clean up

#877 Providing the option to limit pipeline output fields
  src/synthesizer/exceptions.py
  src/synthesizer/load_data/load_illustris.py
  src/synthesizer/load_data/load_simba.py
  src/synthesizer/pipeline/pipeline.py
  src/synthesizer/pipeline/pipeline_io.py
  src/synthesizer/pipeline/pipeline_utils.py
  src/synthesizer/sed.py
  src/synthesizer/utils/stats.py
Labels: Pipeline

#863 Introducing the new LineCollection (AKA bringing Sed and LineCollection into parity)
  conftest.py
  docs/source/advanced/units.ipynb
  docs/source/attenuation/igm.ipynb
  docs/source/lines/galaxy_lines.ipynb
  docs/source/lines/grid_lines.ipynb
  docs/source/lines/line_ratios.ipynb
  docs/source/lines/lines.rst
  docs/source/lines/lines_example.ipynb
  docs/source/notebook_examples/generate_composite_galaxy.ipynb
  docs/source/sed/sed_example.ipynb
  docs/source/spectra/blackholes.ipynb
  docs/source/spectra/stars.ipynb
  examples/blackholes/plot_single_bh_test.py
  examples/cosmo/plot_cosmo_example.py
  examples/general/plot_igm.py
  examples/general/plot_spectra.py
  examples/grids/grid_explorer.ipynb
  examples/grids/plot_line_cont.py
  examples/grids/plot_lines.py
  examples/parametric/plot_generate_lines.py
  examples/particle/plot_velocity_broadened_spectra.py
  src/synthesizer/base_galaxy.py
  src/synthesizer/components/blackhole.py
  src/synthesizer/components/component.py
  src/synthesizer/conversions.py
  src/synthesizer/emission_models/base_model.py
  src/synthesizer/emission_models/dust/emission.py
  src/synthesizer/emission_models/extractors/extractor.py
  src/synthesizer/emission_models/operations.py
  src/synthesizer/emission_models/transformers/igm.py
  src/synthesizer/emissions/__init__.py
  src/synthesizer/emissions/line.py
  src/synthesizer/emissions/line_ratios.py
  src/synthesizer/emissions/sed.py
  src/synthesizer/emissions/utils.py
  src/synthesizer/exceptions.py
  src/synthesizer/grid.py
  src/synthesizer/line.py
  src/synthesizer/line_ratios.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/particle/stars.py
  tests/test_extractors.py
  tests/test_grid.py
  tests/test_igm.py
  tests/test_line.py
  tests/test_spectra.py
Labels: Lines

#883 Adding simple weighted attribute methods to components
  conftest.py
  docs/source/components/stars.ipynb
  docs/source/photometry/galaxy_phot.ipynb
  src/synthesizer/components/component.py
  src/synthesizer/components/stellar.py
  src/synthesizer/parametric/blackholes.py
  src/synthesizer/parametric/stars.py
  src/synthesizer/particle/particles.py
  tests/test_particle_stars.py
Labels: Components

#886 BUGFIX: Template scaling fixed for singular black holes
  conftest.py
  docs/source/sed/sed_example.ipynb
  src/synthesizer/emissions/sed.py
  src/synthesizer/grid.py
  src/synthesizer/particle/blackholes.py
  src/synthesizer/utils/util_funcs.py
  tests/test_particle_bh.py
  tests/test_premade_emodels.py
  tests/test_template.py
Labels: bug, Black Holes, Generators

#893 Enabling generic attribute for column density results
  src/synthesizer/particle/galaxy.py
  src/synthesizer/particle/particles.py
Labels: particle
