Repository synthesizer-project/synthesizer, pull requests merged in 2025-06, with the labels that each got.

#933 Start of the great doc fix... (restructure + overview)
  .gitignore
  .pre-commit-config.yaml
  docs/source/emission_grids/grids.rst
  docs/source/emission_grids/grids_example.ipynb
  docs/source/emission_models/attenuation/attenuation.rst
  docs/source/emission_models/attenuation/dust_attenuation.ipynb
  docs/source/emission_models/attenuation/igm.ipynb
  docs/source/emission_models/emission_models.rst
  docs/source/emission_models/emission_names.rst
  docs/source/emissions/emissions.rst
  docs/source/emissions/lines/galaxy_lines.ipynb
  docs/source/emissions/lines/grid_lines.ipynb
  docs/source/emissions/lines/line_ratios.ipynb
  docs/source/emissions/lines/lines_example.ipynb
  docs/source/emissions/spectra/blackholes.ipynb
  docs/source/emissions/spectra/galaxy.ipynb
  docs/source/emissions/spectra/sed_example.ipynb
  docs/source/emissions/spectra/spectra.rst
  docs/source/emissions/spectra/spectroscopy.ipynb
  docs/source/emissions/spectra/stars.ipynb
  docs/source/galaxy_components/blackholes.ipynb
  docs/source/galaxy_components/components.rst
  docs/source/galaxy_components/galaxy.rst
  docs/source/galaxy_components/gas.ipynb
  docs/source/galaxy_components/line_of_sight.ipynb
  docs/source/galaxy_components/particle_parametric.ipynb
  docs/source/galaxy_components/stars.ipynb
  docs/source/getting_started/contributing.rst
  docs/source/getting_started/getting_help.rst
  docs/source/getting_started/getting_started.rst
  docs/source/getting_started/overview.rst
  docs/source/index.rst
  docs/source/lines/lines.rst
  docs/source/observables/imaging/imaging.rst
  docs/source/observables/imaging/parametric_data_cube.ipynb
  docs/source/observables/imaging/parametric_imaging.ipynb
  docs/source/observables/imaging/particle_data_cube.ipynb
  docs/source/observables/imaging/particle_imaging.ipynb
  docs/source/observables/imaging/property_maps.ipynb
  docs/source/observables/observables.rst
  docs/source/observables/photometry/galaxy_phot.ipynb
  docs/source/observables/photometry/photometry.rst
  docs/source/observables/photometry/photometry_example.ipynb
  docs/source/observatories/filters.rst
  docs/source/observatories/filters_example.ipynb
  docs/source/observatories/instrument_example.ipynb
  docs/source/observatories/observatories.rst
  docs/source/observatories/premade_instruments.ipynb
  docs/source/performance/openmp.rst
  docs/source/pipeline/pipeline_example.ipynb
  docs/source/sed/sed.rst
  docs/source/spectra/spectra.rst
Labels: documentation

#932 Clearer error in imaging
  src/synthesizer/base_galaxy.py
Labels: bug, Imaging

#951 Improvements to performance docs and misc doc fixes
  docs/source/advanced/advanced.rst
  docs/source/emissions/emission_objects/lines_example.ipynb
  docs/source/emissions/emission_objects/sed_example.ipynb
  docs/source/emissions/spectra/blackholes.ipynb
  docs/source/galaxy_components/components.rst
  docs/source/galaxy_components/galaxy.rst
  docs/source/galaxy_components/galaxy_components.rst
  docs/source/galaxy_components/line_of_sight.ipynb
  docs/source/getting_started/downloading_grids.rst
  docs/source/getting_started/getting_started.rst
  docs/source/getting_started/overview.rst
  docs/source/img/integrated_spectra_scaling_test.png
  docs/source/img/los_strong_scaling.png
  docs/source/index.rst
  docs/source/performance/openmp.rst
  docs/source/performance/performance.rst
  docs/source/performance/plots/docs_int_spectra_cic_totThreads32_nstars1000000.png
  docs/source/performance/plots/docs_los_column_density_totThreads32_nstars1000000_ngas1000000.png
  docs/source/performance/plots/docs_part_spectra_cic_totThreads32_nstars100000.png
  src/synthesizer/components/stellar.py
  src/synthesizer/extensions/doppler_particle_spectra.cpp
  src/synthesizer/extensions/particle_spectra.cpp
  src/synthesizer/extensions/weights.cpp
  src/synthesizer/particle/gas.py
  src/synthesizer/particle/particles.py
  src/synthesizer/particle/stars.py
Labels: documentation, Performance

#941 Update Simba load method
  src/synthesizer/load_data/load_simba.py
Labels: Data

#954 Fixing LOS observer direction
  src/synthesizer/extensions/column_density.cpp
  tests/test_los.py
Labels: bug, Galaxy, Dust, Extensions

#955 Updated publications
  docs/source/publications/bib_to_rst.py
  docs/source/publications/publications.bib
  docs/source/publications/publications.rst
Labels: documentation

#956 Sed was missing flam property
  src/synthesizer/emissions/sed.py
Labels: Spectra/SED, Conversions

#958 BUGFIX: Fixing missing fnu error
  src/synthesizer/emissions/sed.py
  src/synthesizer/imaging/extensions/image.cpp
Labels: bug, Photometry, Observables
